.order {
  border-top: solid 5px black;
  border-bottom: solid 5px black
}

.orderItem {
  border-top: solid 2px red;
  border-bottom: solid 2px red;
}

img {
  width: 100px;
  height: 100px
}

.employee {
  border-top: solid 5px black;
  border-bottom: solid 5px black
}
